.cell{
    width: 75px;
    height: 75px;
    border: 2px solid;
    box-shadow: 0 0 0 2px;
    line-height: 75px;
    font-size: 50px;
    cursor: pointer;

}

#cellContainer{
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 225px;
    margin: auto;
}

#gameContainer{
    font-family: "Permanent Marker " , cursive;
    text-align: center;
}

#restartBtn{
    border: 3px bold;
    border-radius: 15px;
    background-color: rgb(164, 159, 159);
    height: 35px;
    width: 75px;
    font-weight: bold;
    cursor: pointer;

}